name: Release

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:


jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.23
          check-latest: true

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Force fetch upstream tags
        run: git fetch --tags --force

      - name: Cache the build cache
        uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-release-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-release

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v7
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
